<h1>Hey Taskwiz! Log in below. </h1>
<%= form_with url: login_path do |f| %>
  <div >
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div >
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>
  <div >
    <%= f.password_field :password, :placeholder => "Password" %>   
  </div>
  <div >
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
    <%= f.submit %>
  </div> 
<% end %>
<button><%= link_to "Back", root_path  %></button>

