


<section class="fields_with_errors">
    <section id="one">
    <div class="page_title">
      <h1>Comment - <%= @comment.id  %> | Task -  <%= @task.id %></h1>
    </div>
      <div class="inner">
        <article class="box">

          <header>
            <h2><%= link_to @comment.task.title, task_path(@task.id)  %> - by <%= @task.user.name %></h2>
            <p><%= @task.description %></p>
          </header>

          <div class="content">
            <p><%= @comment.content %> - by <%= @comment.user.name %></p>
          </div>

          <footer>
            <% if @comment.user == current_user %>
              <%= link_to "Edit Comment", edit_task_comment_path(@task.id, @comment.id) %> |
              <%= link_to "Delete Comment", user_comment_path(@comment.user.id, @comment.id), :data => {:confirm => "You sure?", :method => "delete"} %>
            <% end %>
          </footer>

        </article>
      </div>
    </section>
</section>  