<section class="main_view">
	<%= form_with model: [task.user, task], local: true do |form| %>

		<div class="page_title">
			<h1> Create a new task below: </h1>
		</div>

		<div class="page_title">
			<h1><%= render "layouts/errors", :user => task %></h1>
		</div>

		<div class="alert">
			<h1><%= render "layouts/flash" %></h1>
		</div>

		<section id="one" >
			<div class="inner">
				<article class="box">
					<header>

						<p><%= form.text_field :title, class: "fields_with_errors", :placeholder => "Title"%></p>
						<p><%= form.select "status", raw("<option>Please choose a status</option><option>To do</option><option>In Progress</option><option>Awaiting Response</option><option>Done</option>") %></p>
						<p><%= form.text_area :description, class: "fields_with_errors", :placeholder => "Description" %></p>
						<p><%= form.text_area :comment, class: "fields_with_errors", :placeholder => "Comment"  %></p>

					</header>

					<div class="content">
						<%= form.fields_for :comments, task.comments do |comment_form| %>
							<p><%= comment_form.text_area :content, :placeholder => "Comment" %></p>
						<% end %>
					</div>

					<footer>
						<%= form.submit  %>
					</footer>

				</article>
			</div>
		</section>
</section>
	<% end %>