<section id="one" >
  <div class="inner">
	  <article class="box">

		  <header>
			<%= render "layouts/errors", :object => task %>

			  <h3><%= link_to task.title, task_path(task)%> | Status: <%= task.status %> | Owner: <%= task.user.name %></h3>
			  <p><%= task.description %></p>

		  </header>

		  <div class="content">
			  <% task.comments.each do |comment| %>
          <p><%= comment.content %></p>
        <% end %>
		  </div>

		  <footer>
			  <p><%= link_to "My Tasks", user_tasks_path(task.user) %> | <%= link_to "New Task", new_user_task_path(task.user) %> | <%= link_to "Edit Task", edit_user_task_path(task.user, task) %></p>
		  </footer>
      
	  </article>
  </div>
</section>