<section class="main_view">
  <%= form_with model: user, local: true do |f| %>

  <div class="page_title"> 
    <h1>That's the stuff! You're almost there...</h1>
  </div>

  <div class="page_title">
    <%= render "layouts/errors", :user => user %>
  </div>

  <div class="alert">
    <h1><%= render "layouts/flash" %></h1>
  </div>

    <section id="one" >
      <div class="inner">
        <article class="box">
          <header>

            <p><%= f.text_field :name, class: "fields_with_errors", :placeholder => "Name" %></p>
            <p><%= f.text_field :email, class: "fields_with_errors", :placeholder => "Email" %></p>
            <p><%= f.password_field :password, class: "fields_with_errors", :placeholder => "Password" %></p>
            <p><%= f.password_field :password_confirmation, class: "fields_with_errors", :placeholder => "Confirm Password" %></p>

          </header>

          <footer>
            <%= f.submit  %>
          </footer>

        </article>
      </div>
    </section>
</section>
  <% end %>


  
