<section class="fields_with_errors">
  <%= form_with model: user, local: true do |f| %>

  <div class="page_title"> 
    <h1>That's the stuff! You're almost there...</h1>
  </div>

  <div class="page_title">
    <%= render "layouts/errors", :object => user %>
  </div>

  <div class="alert">
    <h1><%= render "layouts/flash", :object => user %></h1>
  </div>

    <section id="one" >
      <div class="inner">
        <article class="box">
          <header>

            <p><%= f.select "admin", raw("<option>Admin?</option><option>True</option><option>False</option>") %></p>
            <p><%= f.text_field :name, :placeholder => "Name" %></p>
            <p><%= f.text_field :email, :placeholder => "Email" %></p>
            <p><%= f.password_field :password, :placeholder => "Password" %></p>
            <p><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></p>

          </header>

          <footer>
            <%= f.submit  %>
          </footer>

        </article>
      </div>
    </section>
</section>
  <% end %>


  
