<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.select "admin", raw("<option>Admin?</option><option>True</option><option>False</option>") %>
  </div>
  <div >
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div >
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>
  <div >
    <%= f.password_field :password, :placeholder => "Password" %>   
  </div>
  <div >
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
    <%= f.submit %>
  </div> 
  <div>
  <% if @user && @user.errors.any? %>
		<% @user.errors.full_messages.each do |errmsg| %>
			<p><%= errmsg %></p>
		<% end %>
	<% end %>
  </div>
<% end %>

  
  
