<%= form_with model: user, local: true do |f| %>
  <section id="one" >
    <div class="inner">
      <article class="box">
        <header>
        
          <% if @user && @user.errors.any? %>
						<h2>Please correct these errors:</h2>
						<ul>
							<% @user.errors.full_messages.each do |errmsg| %>
								<li><%= errmsg %></li>
							<% end %>
						</ul>
          <% end %>

          <p><%= f.select "admin", raw("<option>Admin?</option><option>True</option><option>False</option>") %></p>
          <p><%= f.text_field :name, :placeholder => "Name" %></p>
          <p><%= f.text_field :email, :placeholder => "Email" %></p>
          <p><%= f.password_field :password, :placeholder => "Password" %></p>
          <p><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></p>
        </header>
        <footer>
        <%= f.submit  %>
      </footer>
      </article>
    </div>
  </section>

  

<% end %>


  
